<div class="container">
    <h1 class="text-center my-4 text-primary">Index</h1>

    <div class="d-flex justify-content-center mt-4">
        <a href="/" class="btn btn-outline-primary">Back to Home</a>
    </div>
</div>